extends layout

block content
    h1= title
    - let sculptureid = toShow._id
    - let sculpture_name = toShow.sculpture_name 
    - let sculpture_material = toShow.sculpture_material 
    - let sculpture_height = toShow.sculpture_height

    div.row(class='mb-2')
        div.mr-1 ID is:
        div #{sculptureid}
    - let actionid = "/resource/sculptures/" + sculptureid
    form(id='sculptureForm', action=actionid, method="PUT")
        div.form-group
            label(for='sculpture_name') sculpture name
            input#sculpture_type(type='text', name='sculpture_name', value=sculpture_name)

        div.form-group
            label(for='origin') Sculpture Material 
            input#locaorigintion(type='text', name='sculpture_material', value=sculpture_material)

        div.form-group
            label(for='age') Sculpture Height 
            input#age(type='number', name='sculpture_height', value=sculpture_height)

        input(type="submit")
    script.
        document.forms['sculptureForm'].addEventListener('submit', (event) => {
            event.preventDefault();
             // Validate the age field
            const ageInput = document.getElementById('age');
            const ageValue = parseInt(ageInput.value, 10);

            if (isNaN(ageValue) || ageValue < 100) {
                alert("The sculpture age must be at least 100.");
                return; // Prevent form submission
            }
            // Show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // Form data
            }).then((resp) => {
                return resp.json(); // Expecting a JSON response
            }).then((body) => {
                alert("Update succeeded");
                // Optionally handle response body
            }).catch((error) => {
                alert("Update failed " + error);
                // Handle error
            });
        });