extends layout

block content
  h1= title
  div.container
    div.row
      div.col-md-4.font-weight-bold Sculpture ID:
      div.col-md-8.text-info #{toShow._id}
    div.row
      div.col-md-4.font-weight-bold Sculpture Name:
      div.col-md-8.text-info #{toShow.sculpture_name}
    div.row
      div.col-md-4.font-weight-bold Material:
      div.col-md-8.text-info #{toShow.sculpture_material}
    div.row
      div.col-md-4.font-weight-bold Height:
      div.col-md-8.text-info #{toShow.sculpture_height} cm

  form(action=`/Sculptures/delete/${toShow._id}?_method=DELETE`, method='POST')
    button.btn.btn-danger.mt-4(type='submit') Delete Sculpture

  a.btn.btn-primary.mt-4(href='/Sculptures') Back to List
