extends layout

block content
  h1= title
  .container
    .row
      .col-md-4.font-weight-bold Sculpture ID:
      .col-md-8.text-info #{toShow._id}
    .row
      .col-md-4.font-weight-bold Sculpture Name:
      .col-md-8.text-info #{toShow.sculpture_name}
    .row
      .col-md-4.font-weight-bold Material:
      .col-md-8.text-info #{toShow.sculpture_material}
    .row
      .col-md-4.font-weight-bold Height:
      .col-md-8.text-info #{toShow.sculpture_height} cm
  a.btn.btn-primary.mt-4(href='/Sculptures') Back to List
