
extends layout

block content
  h1= title
  // Add a "Create New sculpture" button at the top
  a.btn.btn-success.mb-3(href='/sculptures/create') Create New sculpture
  // Loop through the sculptures in the collection
  each item in results
    div(class="card my-2 p-2 border")
      h3 Sculpture Name: #{item.sculpture_name}
      ul
        li <b>Sculpture Material:</b> #{item.sculpture_material}
        li <b>Sculpture Height:</b> #{item.sculpture_height} Cm

      // Button to navigate to the update page
      button.btn.btn-success.mt-2(onclick=`navigateToUpdate('${item._id}')`) Update

      // Button to navigate to the detail view
      button.btn.btn-warning.mt-2(onclick=`navigateToDetails('${item._id}')`) View Details

      // Button to navigate to the delete view
      button.btn.btn-danger.mt-2(onclick=`navigateToDelete('${item._id}')`) Delete

  // Add a script to handle the navigation
  script.
    function navigateToUpdate(sculptureId) {
      window.location.href = `/sculptures/update?id=${sculptureId}`;
    }

    function navigateToDetails(sculptureId) {
      window.location.href = `/sculptures/detail?id=${sculptureId}`;
    }

    function navigateToDelete(sculptureId) {
      window.location.href = `/sculptures/delete?id=${sculptureId}`;
    }
