extends layout

block content
  h1= title
  - let sculptureid = toShow._id
  - let sculpture_name = toShow.sculpture_name
  - let sculptures_height = toShow.Sculptures_height
  - let sculptures_material = toShow.Sculptures_material

  div.container
    div.row
      div(class='sculptureAttr') Sculpture ID is:
      div #{sculptureid}
    div.row
      div(class='sculptureAttr') Sculpture Name is:
      div #{sculpture_name}
    div.row
      div(class='sculptureAttr') Sculpture Height is:
      div #{sculptures_height}
    div.row
      div(class='sculptureAttr') Sculpture Material is:
      div #{sculptures_material}
