
extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let sculptureid = toShow._id
    - let sculpture_name = toShow.sculpture_name
    - let sculpture_material = toShow.sculpture_material
    - let sculpture_height = toShow.sculpture_height
    - let actionid = "/resource/sculptures/" + sculptureid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='sculptureAttr mr-3') sculpture ID is: #{sculptureid}
      div.row
        div(class='sculptureAttr mr-3') sculpture Name is: #{sculpture_name}
      div.row
        div(class='sculptureAttr mr-3') Sculpture material is: #{sculpture_material}
      div.row
        div(class='sculptureAttr mr-3') Sculpture Height is: #{sculpture_height}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
      function cancel() {
        window.origin.href = '/sculptures';
        }
  script.
    function deleteOnid() {
      console.log("Starting delete");
      fetch(actionid, {
        method: 'DELETE'
        }).then((resp) => {
        return resp.json();
        }).then((body) => {
        alert("Delete succeeded");
        window.origin.href = '/sculptures';
        }).catch((error) => {
        alert("Delete failed: " + error);
      });
    }