
extends layout

block content
  h1= title
  - let sculptureid = toShow._id
  - let sculpture_name = toShow.sculpture_name
  - let sculpture_material = toShow.sculpture_material
  - let sculpture_height= toShow.sculpture_height
  div.container
    div.row
      div.col-md-4.font-weight-bold sculpture ID:
      div.col-md-8.text-danger #{sculptureid}
    div.row
      div.col-md-4.font-weight-bold sculpture Name:
      div.col-md-8.text-danger #{sculpture_name}
    div.row
      div.col-md-4.font-weight-bold Sculpture Material:
      div.col-md-8.text-danger #{sculpture_material}
    div.row
      div.col-md-4.font-weight-bold Sculpture Height:
      div.col-md-8.text-danger #{sculpture_height}

  a.btn.btn-primary.mt-4(href='/sculptures') Back to List