
extends layout

block content
    h1= title
        - let sculptureid = toShow._id
        - let name = toShow.name
        - let sculpturesmaterial = toShow.material
        - let sculpturesheight = toShow.height


    div.row(class='mb-2')
        div.mr-1 ID is:
        div #{Sculptureid}
    - let actionid = "/resource/Sculptures/" + Sculptureid
    form(id='SculptureForm', action=actionid, method="PUT")
        div.form-group
            label(for='Sculpture_name') Sculpture name
            input#Sculpture_name(type='text', name='Sculpture_name', value=name)

        div.form-group
            label(for='origin') Sculpture_height
            input#sculpture_height(type='number', name='Sculpture_height', value=Sculpture_height)

        div.form-group
            label(for='Sculpture_material') Sculpture_material
            input#Sculpture_material(type='text', name='Sculpture_material', value=Sculpture_material)

        input(type="submit")
    script.
        document.forms['SculptureForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // Show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // Form data
            }).then((resp) => {
                return resp.json(); // Expecting a JSON response
            }).then((body) => {
                alert("Update succeeded");
                // Optionally handle response body
            }).catch((error) => {
                alert("Update failed " + error);
                // Handle error
            });
        });
