extends layout

block content
  h1= title
  if success
    .alert.alert-success.alert-dismissible.fade.show(role="alert")
      strong Success! 
      | #{success}
      button.close(type="button" data-dismiss="alert" aria-label="Close")
        span(aria-hidden="true") &times;

  .container
    each sculpture in results
      .row.mb-3
        .col-md-4.font-weight-bold Sculpture Name:
        .col-md-8.text-info= sculpture.sculpture_name
        .col-md-4.font-weight-bold Material:
        .col-md-8.text-info= sculpture.sculpture_material
        .col-md-4.font-weight-bold Height:
        .col-md-8.text-info= sculpture.sculpture_height + ' cm'
        .col-md-12
          a.btn.btn-danger(href=`/Sculptures/delete/${sculpture._id}`) Delete
          a.btn.btn-primary(href=`/Sculptures/detail/?id=${sculpture._id}`) View Details
  a.btn.btn-primary.mt-4(href='/Sculptures/create') Add New Sculpture
